{{#with mainNav}}

<nav id="main-nav" class="nav main-nav">
    <h3 class="title">Навигация</h3>

    <ul class="list">

        {{getNavElement '/' 'Главная' activeElement}}
        {{getNavElement '/sign-up' 'Регистрация' activeElement}}
        {{getNavElement '/sign-in' 'Вход' activeElement}}

    </ul>
</nav>

{{/with}}