<nav id="main-nav" class="nav main-nav">
    {{> main-header/logo}}
    
    <div class="container lg">
        {{#with mainNav}}
            <ul class="list">
                {{getNavElement '/' 'Главная' activeNavElement}}
            </ul>
        {{/with}}
    </div>

    {{> main-header/profile}}
</nav>
