{{#if authorized}}
    <ul class="list">
        <li class="list-item">
            <a href="/profile" class="link">Профиль</a>
        </li>
    </ul>

{{else}}
    {{#with mainNav}}
        <ul class="list">
            {{getNavElement '/sign-up' 'Регистрация' activeNavElement}}
            {{getNavElement '/sign-in' 'Вход' activeNavElement}}
        </ul>
    {{/with}}

{{/if}}