// ? Rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$opacity-highest-emphasis: 1;
$opacity-high-emphasis: .87;
$opacity-medium-emphasis: .6;
$opacity-disabled: .38;


*,
*:after,
*:before {
    box-sizing: border-box;
}

$bg-color-primary: #FAFBFD;
$f-color-primary: #1F2C37;
$f-color-active: #4285F4;
$f-family-primary: 'Rubik', sans-serif;

$color-active: #4285F4;

body {
    min-height: 100vh;

    margin: 0;
    padding: 0;

    background-color: $bg-color-primary;

    font-family: $f-family-primary;
    font-size: 1rem;
    color: $f-color-primary;
    line-height: 1.4;

    & * {
        transition: color .1s linear, 
                    background-color .1s linear,
                    opacity .1s linear,
                    font-weight .1s linear;
    }
}

.container {
    max-width: 1200px;
    width: fit-content;
    margin: 0 auto;

    padding: 1rem;

    &.flex {
        display: flex;
    }
}

// @media (max-width: 1200px) {
//     .container {
//         max-width: 970px;
//     }
// }
// @media (max-width: 992px) {
//     .container {
//         max-width: 750px;
//     }
// }
// @media (max-width: 767px) {
//     .container {
//         max-width: none;
//     }
// }


$separator-color-primary: #F0F5FC;

.main-header {
    grid-area: main-header;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 2em;

    border-bottom: 1px solid $separator-color-primary;

    background-color: #F0F5FC;
    box-shadow: 0px 3px 6px rgba(31, 44, 55, 0.1);
    margin-bottom: 1em;

    .logo {
        display: inline-block;

        color: $f-color-primary;
        text-decoration: none;

        &__upper-text {
            font-weight: 700;
            font-size: 1.25rem;
        }
        &__lower-text {
            font-size: 1rem;
            color: #B0B6BF;
        }
    }

    .container {
        flex: 1 1 0;

        display: flex;
        justify-content: center;
    }
}

.main-nav {
    flex: 1 1 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .info-nav {
        flex: 1 1 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        margin: 0 auto;
    }

    .profile-nav {
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .list {
        &__item {
            .link {
                position: relative;

                color: $f-color-primary;
                text-decoration: none;

                &:hover,
                &.active {
                    color: $f-color-active;
                }
                &.active {
                    font-weight: 500;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 37.5%;
                        right: 37.5%;
                        // left: 25%;
                        // right: 25%;
                        bottom: -0.75em;
                        height: .15em;

                        border-radius: .25em;

                        background-color: #EC5863;
                    }
                }
            }
        }
    }
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;

    .header {
        display: flex;
        align-items: center;
        gap: 1rem;
        
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 1em;
    }

    &.primary {
        .list__item {
            display: block;
            padding: .25em .5em;
        }
    }

    &.secondary {
        .list__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;

            border: 2px solid transparent;

            cursor: pointer;

            &:nth-child(n + 2) {
                margin-top: .5em;
            }

            &:hover {
                background-color: #1f2c370d;
            }
            &:active {
                background-color: #1f2c371a;
            }

            &.checked {
                border-color: $color-active;
                background-color: #4387f40d;
                color: $color-active;
                font-weight: 500;
            }
        }
    }
}


.link {
    // color: 
}


.material-symbols-outlined {
    font-variation-settings:
                            'FILL' 0,
                            'wght' 400,
                            'GRAD' 0,
                            'opsz' 24;

    opacity: $opacity-medium-emphasis;
}


$border-color-primary: #DBDDF1;

.input {
    flex: 1 1 0;
    max-width: 320px;
    width: 100%;

    font-family: $f-family-primary;
    font-size: 1rem;
    color: $f-color-primary;

    background-color: transparent;

    &,
    &-container {
        padding: .5em 1em;
        border: 1px solid $border-color-primary;
        border-radius: .2em;
    }

    &:focus-visible {
        outline: none;
        border-color: $color-active;
        color: $color-active;
    }

    &.secondary {
        border-width: 0;
        border-bottom-width: 1px;
        border-radius: 0;
    }

    &::placeholder {
        color: $f-color-primary;
        opacity: $opacity-disabled;
    }

    &-container {
        display: flex;
        align-items: center;
        gap: 1em;

        width: fit-content;

        &:focus-within,
        &.active {
            border-color: $color-active;
            color: $color-active;

            .material-symbols-outlined {
                opacity: $opacity-high-emphasis;
            }
        }

        .input {
            padding: 0;
            border: none;
            border-radius: 0;
        }
    }
}

.label {
    opacity: $opacity-medium-emphasis;
    line-height: 1.8;
}


.section {
    &:not(:first-child) {
        margin-top: 2rem;
    }

    .title {
        margin: 0;
        margin-bottom: .5rem;

        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.8;
        opacity: $opacity-medium-emphasis;
    }

    .input {
        display: block;
        max-width: 320px;
        width: 100%;

        &-container {
            min-width: 320px;
        }
    }

    .list {
        &__item {
            &:nth-child(n + 2) {
                margin-top: .5em;
            }
        }
    }
}

.control-buttons {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    &.space-between {
        justify-content: space-between !important;
    }
}

$button-color-primary: #4285F4;
$button-color-primary-hover: #3D78D7;

$button-color-secondary: #EC5863;
$button-color-secondary-hover: hsl(356, 59%, 57%);

$button-color-tertiary: #1F2C37;

.button {
    display: flex;
    align-items: center;
    gap: 1em;

    padding: .5em 1em;

    font-family: $f-family-primary;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;

    border: none;
    border-radius: .25em;

    cursor: pointer;

    transition: box-shadow .15s cubic-bezier(0.39, 0.58, 0.57, 1);

    box-shadow: 0px 4.5px 9px rgba(31, 44, 55, 0.1), 
                0px 3px 6px rgba(31, 44, 55, 0.1);

    &:active {
        box-shadow: 0px 3px 6px rgba(31, 44, 55, 0.1);
    }

    &,
    &.pcolor {
        background-color: $button-color-primary;

        &:hover {
            background-color: $button-color-primary-hover;
        }
    }

    &.scolor {
        background-color: $button-color-secondary;

        &:hover {
            background-color: $button-color-secondary-hover;
        }
    }


    &.secondary {
        box-shadow: none !important;
        background-color: transparent;
        font-weight: 500;

        &:hover {
            color: #fff !important;
        }

        &,
        &.pcolor {
            border: 1px solid $button-color-primary;
            color: $button-color-primary;
            
            &:hover {
                background-color: $button-color-primary;
            }
            &:active {
                background-color: $button-color-primary-hover;
            }
        }

        &.scolor {
            border: 1px solid $button-color-secondary;
            color: $button-color-secondary;

            &:hover {
                background-color: $button-color-secondary;
            }
            &:active {
                background-color: $button-color-secondary-hover;
            }
        }

        &.tcolor {
            border: 1px solid $button-color-tertiary;
            color: $button-color-tertiary !important;
            font-weight: 400;
            background-color: transparent;

            &:hover {
                border-color: $button-color-primary;
                color: $button-color-primary !important;
            }
            &:active {
                border-color: $button-color-primary-hover;
                color: $button-color-primary-hover !important;
            }

            &.active {
                border-color: $button-color-primary-hover;
                color: $button-color-primary-hover !important;
                font-weight: 500;
                &:after {
                    display: none;
                }
            }
        }
    }

    &.flat,
    &.simple {
        box-shadow: none !important;
    }
    &.simple {
        background-color: transparent;
        color: $f-color-primary;

        &:hover {
            background-color: #1f2c370d;
        }
        &:active {
            background-color: #1f2c371a;
        }
    }
    &.round {
        padding: .75em;
        border-radius: 100%;
    }
}

.helper {
    // opacity: $opacity-disabled;
}


.table {
    width: 100%;
    border-collapse: collapse;

    .column {
        padding: .5em;
        border: 1px solid #1f2c381a;
    }

    .row {
        cursor: default;

        &:hover {
            .column {
                background-color: #1f2c370d;
            }
        }
    }
}

.control-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 1em;
}

.split {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.selection-menu {
    &-container {
        width: 100%;

        .split {
            & > * {
                &:first-child {
                    flex: 1 1 0;
                    max-width: 750px;
                }
            }
        
            .side {
                width: 320px;
                
                padding: 1em;
                border: 1px solid #F0F5FC;
                border-radius: .25em;
        
                height: fit-content;
        
                .list__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: .5em;
        
                    padding: .5em;
                    border-radius: .2em;
        
                    cursor: default;
        
                    &:nth-child(n + 2) {
                        margin-top: 1em;
                    }
        
                    &:hover {
                        background-color: #1f2c370d;
                    }
                }
            }
        }
    }
}

.form {
    flex: 1 1 0;
    width: 750px;
    max-width: 750px;

    .header {
        font-size: 1.25em;
        font-weight: 500;
    }

    & > * {
        &:nth-child(n + 2) {
            margin-top: 1em;
        }
    }

    .input {
        max-width: none;

        &,
        &-container {
            flex: 1 1 0;
        }

        &-container {
            .unit {
                opacity: $opacity-medium-emphasis;
            }
        }
    }

    .select {
        flex: 2 2 0;

        .input-container {
            width: 100%;
        }
    }

    .wrapper {
        display: flex;
        gap: 1em;

        &:nth-child(n + 2) {
            margin-top: 1em;
        }

        .input-container[type="number"] {
            max-width: 228px;
        }
    }

    .group {
        padding: 1em;
        border: 1px solid $separator-color-primary;
        border-color: transparent;
        border-radius: .25em;

        &:nth-of-type(n + 2) {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -0.5em;

                height: 1px;
                background-color: $separator-color-primary;
            }
        }
    }

    .control-buttons {
        justify-content: flex-end;
        margin-top: 2em;
        padding-top: 1em;
        border-top: 1px solid $separator-color-primary;
    }

    .button.simple {
        margin-left: auto;
    }
}

.select {
    position: relative;

    &,
    * {
        cursor: pointer;
    }

    &.active {
        .select__inner {
            display: block;
        }
    }

    &__inner {
        display: none;

        position: absolute;
        left: 0;
        right: 0;
        // bottom: -1em;
        top: calc(100% + 1em);
        z-index: 1000;

        padding: 0;
        border: 1px solid #4285F4;
        border-radius: .2em;

        background-color: #fafbfd;

        // background-color: #fff;
        // box-shadow: 0px 12px 24px #1f2c371a, 
        //             0px 6px 12px #1f2c371a;

        // box-shadow: 0px 9px 18px #1f2c371a, 
        //             0px 4.5px 9px #1f2c371a, 
        //             0px 3px 6px #1f2c371a;

        box-shadow: 0px 4.5px 9px #1f2c371a, 
                    0px 3px 6px #1f2c371a;

    }

    .option {
        padding: .5em 1em !important;
        border-radius: .2em;

        margin: 0 !important;
    }
}


.questions-container {
    .section-title {
        margin-top: 1.5em;
        margin-bottom: .5em;

        font-size: 1.2em;
        // font-weight: 500;

        // opacity: $opacity-medium-emphasis;
    }
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    padding: .5em;

    border: 1px solid transparent;
    border-radius: .2em;

    margin-left: 1em;

    cursor: default;

    &:hover {
        // background-color: rgba(31, 44, 55, 0.01);
        border-color: rgba(31, 44, 55, 0.05);
    }

    &:nth-child(n + 2) {
        margin-top: .5em;
    }

    .answer-options-container {
        display: flex;
        gap: 1em;
    }

    .label {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 !important;

        position: relative;
        margin-top: .5em;

        cursor: pointer;

        opacity: $opacity-highest-emphasis;

        // &:first-of-type {
        //     &:hover {
        //         // background-color: #EDFFEF;

        //         border-color: #55A55E;
        //     }
        // }
        // &:last-of-type {
        //     &:hover {
        //         // background-color: #FFEEEC;

        //         border-color: #A85B51;
        //     }
        // }

        // &:hover {
        //     .label-text {
        //         opacity: $opacity-high-emphasis;
        //     }
        // }

        .input-radio {
            margin: 0;
            padding: 0;

            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
        }

        .label-text {
            position: relative;
            width: 50px;
            padding: 0 .5em;
    
            border: 1px solid transparent;
            border-radius: .2em;

            text-align: center;

            opacity: $opacity-medium-emphasis;


            &:before {
                content: "";
                
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                border: 1px solid transparent;
                border-radius: .2em;
            }
        }

        &:last-of-type {
            &:hover {
                .label-text {
                    &:before {
                        border-color: #55A55E;
                    }
                }
            }

            .input-radio {
                &:checked {
                    & + .label-text {
                        color: #55A55E;
                        background-color: #EDFFEF;

                        opacity: $opacity-highest-emphasis;
                        
                        &:before {
                            border: 2px solid #55A55E;
                        }
                    }
                }
            }
        }
        &:first-of-type {
            &:hover {
                .label-text {
                    &:before {
                        border-color: #A85B51;
                    }
                }
            }

            .input-radio {
                &:checked {
                    & + .label-text {
                        color: #A85B51;
                        background-color: #FFEEEC;

                        opacity: $opacity-highest-emphasis;
                        
                        &:before {
                            border: 2px solid #A85B51;
                        }
                    }
                }
            }
        }
    }
}



.form.auth {
    width: 350px;

    .input-container {
        width: 100%;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: calc(100vh - (153.39px * 2));
    width: 100%;

}