// ? Rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$opacity-highest-emphasis: 1;
$opacity-high-emphasis: .87;
$opacity-medium-emphasis: .6;
$opacity-disabled: .38;


*,
*:after,
*:before {
    box-sizing: border-box;
}

$bg-color-primary: #FAFBFD;
$f-color-primary: #1F2C37;
$f-color-active: #4285F4;
$f-family-primary: 'Rubik', sans-serif;

$color-active: #4285F4;

body {
    min-height: 100vh;

    margin: 0;
    padding: 0;

    background-color: $bg-color-primary;

    font-family: $f-family-primary;
    font-size: 1rem;
    color: $f-color-primary;
    line-height: 1.4;

    & * {
        transition: color .1s linear, 
                    background-color .1s linear,
                    opacity .1s linear,
                    font-weight .1s linear;
    }
}

.container {
    max-width: 1200px;
    width: fit-content;
    margin: 0 auto;

    padding: 1rem;
}

// @media (max-width: 1200px) {
//     .container {
//         max-width: 970px;
//     }
// }
// @media (max-width: 992px) {
//     .container {
//         max-width: 750px;
//     }
// }
// @media (max-width: 767px) {
//     .container {
//         max-width: none;
//     }
// }


$separator-color-primary: #F0F5FC;

.main-header {
    grid-area: main-header;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 2em;

    border-bottom: 1px solid $separator-color-primary;

    .logo {
        display: inline-block;

        color: $f-color-primary;
        text-decoration: none;

        &__upper-text {
            font-weight: 700;
            font-size: 1.25rem;
        }
        &__lower-text {
            font-size: 1rem;
            color: #B0B6BF;
        }
    }

    .container {
        flex: 1 1 0;

        display: flex;
        justify-content: center;
    }
}

.main-nav {
    flex: 1 1 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .info-nav {
        flex: 1 1 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        margin: 0 auto;
    }

    .list {
        &__item {
            .link {
                color: $f-color-primary;
                text-decoration: none;

                &:hover,
                &.active {
                    color: $f-color-active;
                }
                &.active {
                    font-weight: 500;
                }
            }
        }
    }
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
}


.link {
    // color: 
}


.material-symbols-outlined {
    font-variation-settings:
                            'FILL' 0,
                            'wght' 400,
                            'GRAD' 0,
                            'opsz' 24;

    opacity: $opacity-medium-emphasis;
}


$border-color-primary: #DBDDF1;

.input {
    max-width: 320px;
    width: 100%;

    font-family: $f-family-primary;
    font-size: 1rem;
    color: $f-color-primary;

    background-color: transparent;

    &,
    &-container {
        padding: .5em 1em;
        border: 1px solid $border-color-primary;
        border-radius: .2em;
    }

    &:focus-visible {
        outline: none;
        border-color: $color-active;
        color: $color-active;
    }

    &.secondary {
        border-width: 0;
        border-bottom-width: 1px;
        border-radius: 0;
    }

    &::placeholder {
        color: $f-color-primary;
        opacity: $opacity-disabled;
    }

    &-container {
        display: flex;
        align-items: center;
        gap: 1em;

        width: fit-content;

        &:focus-within {
            border-color: $color-active;
            color: $color-active;

            .material-symbols-outlined {
                opacity: $opacity-high-emphasis;
            }
        }

        .input {
            padding: 0;
            border: none;
            border-radius: 0;
        }
    }
}

.label {
    opacity: $opacity-medium-emphasis;
    line-height: 1.8;
}


.section {
    margin-top: 2rem;

    .title {
        margin: 0;
        margin-bottom: .5rem;

        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.8;
        opacity: $opacity-medium-emphasis;
    }

    .input {
        display: block;
        max-width: 320px;
        width: 100%;

        &-container {
            min-width: 320px;
        }
    }

    .list {
        &__item {
            &:nth-child(n + 2) {
                margin-top: .5em;
            }
        }
    }
}

.control-buttons {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

$button-color-primary: #4285F4;
$button-color-hover: #3D78D7;

.button {
    display: flex;
    align-items: center;
    gap: 1em;

    padding: .5em 1em;

    font-family: $f-family-primary;
    font-size: 1rem;
    color: #fff;

    background-color: $button-color-primary;

    border: none;
    border-radius: .25em;

    cursor: pointer;

    transition: box-shadow .15s cubic-bezier(0.39, 0.58, 0.57, 1);

    box-shadow: 0px 4.5px 9px rgba(31, 44, 55, 0.1), 
                0px 3px 6px rgba(31, 44, 55, 0.1);

    &:hover {
        background-color: $button-color-hover;

        // box-shadow: 0px 9px 18px rgba(31, 44, 55, 0.1), 
        //             0px 4.5px 9px rgba(31, 44, 55, 0.1), 
        //             0px 3px 6px rgba(31, 44, 55, 0.1);
    }
    &:active {
        box-shadow: 0px 3px 6px rgba(31, 44, 55, 0.1);
    }

    &.flat {
        box-shadow: none !important;
    }
}

.helper {
    // opacity: $opacity-disabled;
}