$label-color: #B0B6BF;
$em-color: #EC5863;

.profile {

    &__header {
        display: grid;
        grid-template-areas:    "avatar username"
                                "avatar blood-group";

        grid-template-columns: auto 1fr;
        align-items: center;
        gap: .5rem 1rem;

        .avatar {
            grid-area: avatar;

            width: 112px;
            height: 112px;
    
            background-color: #ccc;
        }

        .username {
            grid-area: username;
            font-size: 1.5rem;
            font-weight: 500;
            // padding: .25em 0;

            &.input {
                width: fit-content;
                min-width: 300px;
    
                // padding: .5rem 1rem;  
                padding: 0;  
            }
        }

        .blood-group-container {
            grid-area: blood-group;

            // .label {
            //     color: #4285f4;
            // }

            .list {
                display: flex;
                align-items: flex-start;
                gap: 1rem;

                .list__item {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;
                }

                .value {
                    color: $em-color;
                    font-size: 1.25em;
                }
            }
        }
   
    }
}