$label-color: #B0B6BF;
$em-color: #EC5863;

$opacity-highest-emphasis: 1;
$opacity-high-emphasis: .87;
$opacity-medium-emphasis: .6;
$opacity-disabled: .38;

body {
    // display: grid;
    // grid-template-areas:    "side-bar main-header"
    //                         "side-bar main-content";
    // grid-template-columns: auto 1fr;
    // grid-template-rows: auto 1fr;
    // gap: 1rem;
}

// .main-header {
//     .logo {
//         display: none;
//     }
// }

$side-bar-bg-color: #F0F5FC;

.side-bar {
    grid-area: side-bar;

    // min-height: 100vh;
    // max-height: 100vh;

    display: flex;
    flex-direction: column;

    height: 100vh;
    
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;

    padding: 2rem;

    background-color: $side-bar-bg-color;
    box-shadow: 0px 3px 6px rgba(31, 44, 55, 0.1);

    .material-symbols-outlined {
        font-variation-settings:
                                'FILL' 1,
                                'wght' 400,
                                'GRAD' 0,
                                'opsz' 48;
    }

    .logo {
        display: block;
        margin-bottom: 5rem;
    }

    .list {
        flex: 1 1 0;

        display: flex;
        flex-direction: column;
        gap: 1em;

        // height: 100%;

        .spacer {
            flex: 1 1 0;
        }
    }

    .link {
        display: flex;
        align-items: center;
        gap: 1em;

        padding: 1em 1.5em;
        color: #1F2C37;
        text-decoration: none;

        border: none;
        border-left: .25em solid transparent;
        border-radius: 0 .25em .25em 0;

        background-color: transparent;

        .link-text {
            opacity: $opacity-high-emphasis;
        }

        &:active,
        &.active {
            color: #4285F4;
            font-weight: 500;

            background-color: #DBE8FB;
            border-color: #F08189;

            .link-text {
                opacity: $opacity-highest-emphasis;
            }

            .material-symbols-outlined {
                opacity: $opacity-highest-emphasis;
            }
        }
        
        &:not(.active):hover {
            color: #70A3F6;
            // font-weight: 500;

            background-color: #E8EFFC;
            border-color: #f0818899;

            .link-text {
                opacity: $opacity-highest-emphasis;
            }

            .material-symbols-outlined {
                opacity: $opacity-high-emphasis;
            }
        }
    }

    .button {
        width: 100%;
        margin: 0 auto;
        padding: .75em 1em;

        // box-shadow: none !important;

        // background-color: transparent;
        // border: 1px solid #CE525C;
        // color: #B94D58;
        // font-weight: 500;

        // &:hover {
        //     background-color: #CE525C;
        //     color: #fff;
        // }
    }
}

.profile {
    grid-area: main-content;

    margin-left: 315px;
    padding: 0 2em;

    &__header {
        display: grid;
        grid-template-areas:    "avatar username"
                                "avatar blood-group";

        grid-template-columns: auto 1fr;
        align-items: center;
        gap: .5rem 1rem;

        .avatar {
            grid-area: avatar;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 112px;
            height: 112px;
    
            background-color: #ccc;

            cursor: pointer;
        }

        .username {
            grid-area: username;
            font-size: 1.5rem;
            font-weight: 500;
            // padding: .25em 0;

            &.input {
                width: fit-content;
                min-width: 300px;
    
                // padding: .5rem 1rem;  
                padding: 0;  
            }
        }

        .blood-group-container {
            grid-area: blood-group;

            // .label {
            //     color: #4285f4;
            // }
            .helper {
                font-size: 1.25em;
            }

            .list {
                display: flex;
                align-items: flex-start;
                gap: 1rem;

                .list__item {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;
                }

                .value {
                    color: $em-color;
                    font-size: 1.25em;
                }
            }
        }
   
    }

    .container {
        // min-width: 500px;
        min-width: 750px;
        margin: 0;
    }
    .input,
    .input-container {
        max-width: 500px;
        width: 100%;
    }
}

.history {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    &.h-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &__header {
        .header__item {
            > * {
                flex: 1 1 0;
                // text-align: center;
                font-weight: 500;
            }
        }
    }

    &__item {
        display: contents;

        &:hover {
            > * {
                background-color: #1f2c370d;
            }
        }

        > * {
            display: flex;
            align-items: center;
            gap: 1em;

            padding: .5em;

            position: relative;

            border-radius: 0.125rem;

            cursor: default;

            &:nth-child(n + 2) {
                // margin-left: 1em;
                // border-left: 1px solid #F0F5FC;

                margin-left: calc(1em + 1px);
                &:before {
                    content: "";
                    width: 1px;
                    height: 100%;
                    margin: 0 1em;

                    position: absolute;
                    left: calc(-1 * (2em + 1px));

                    background-color: #F0F5FC;
                }
            }
        }
    }

    // &.h-secondary,
    // &.h-tertiary {
    //     align-items: start;
    // }

    &.h-secondary {
        .history__item {
            & > * {
                display: block;

                & > * {
                    display: block;
                }
            }
        }
    }

    &.h-tertiary {
        .history__item {
            > *:not(:last-child){
                display: block;

                & > * {
                    display: block;
                }
            }

            &:hover {
                > *:not(:last-child) {
                    background-color: #1f2c370d;
                }
                > *:last-child {
                    background-color: transparent !important;
                }
            }
        }
    }
}