@import 'colors';

// ? Rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


// * Fonts *

$f-family-primary: 'Rubik', sans-serif;


// * Sizes *

$f-size-header-1: 2.75rem;      // 44 px
$f-size-header-2: 2.25rem;      // 36 px
$f-size-header-3: 1.5rem;       // 24 px
$f-size-header-4: 1.25rem;      // 20 px
$f-size-header-5: 1.125rem;     // 18 px
// primary  ========
$f-size-primary: 1rem;          // 16 px
// /primary ========
$f-size-secondary: 0.875rem;    // 14 px
$f-size-additional: 0.75rem;    // 12 px


// * Font height *

$f-height-header-1: 1.2;
$f-height-header-2: 1.2;
$f-height-header-3: 1.3;
$f-height-header-4: 1.3;
$f-height-header-5: 1.4;
$f-height-primary: 1.5;
$f-height-secondary: 1.5;
$f-height-additional: 1.5;


// * Colors *

$f-color-primary: #1F2C37;
$f-color-less-emphasis: #B0B6BF;