<div class="container lg">
    <h1 class="title main-title">Регистрация</h1>
    
    <form action="/api/auth/sign-up" method="post" class="form" id="reg-form">
        <input type="email" name="email" id="reg-form__email-input" class="input" placeholder="Почта">
        <input type="tel" name="phone" id="reg-form__phone-input" class="input" placeholder="Телефон">
        <input type="password" name="password" id="reg-form__password-input" class="input" placeholder="Пароль">
        <input type="password" name="repeat-password" id="reg-form__repeat-password-input" class="input" placeholder="Повтор пароля">
    
        <label for="reg-form__remember-me-checkbox" class="label">
            <input type="checkbox" name="remember-me" id="reg-form__remember-me-checkbox" class="checkbox">
            <span class="label-text">Запомнить меня</span>
        </label>
    
        <input type="submit" id="reg-form__submit-button" class="button" value="Зарегистрироваться">
    </form>
</div>